[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Dave Schneider (daveschneider)
[access "refs/for/refs/*"]
	read = group user/Dave Schneider (daveschneider)
	push = group user/Dave Schneider (daveschneider)
	label-Code-Review = -2..+2 group user/Dave Schneider (daveschneider)
	label-Verified = -1..+1 group user/Dave Schneider (daveschneider)
	rebase = group user/Dave Schneider (daveschneider)
	removeReviewer = group user/Dave Schneider (daveschneider)
	submit = group user/Dave Schneider (daveschneider)
[access "refs/heads/*"]
	read = group user/Dave Schneider (daveschneider)
	create = group user/Dave Schneider (daveschneider)
	push = +force group user/Dave Schneider (daveschneider)
	pushMerge = group user/Dave Schneider (daveschneider)
[access "refs/tags/*"]
	push = +force group user/Dave Schneider (daveschneider)
	pushTag = group user/Dave Schneider (daveschneider)
	pushSignedTag = group user/Dave Schneider (daveschneider)
